* {
  font: {
    family: Graphik, Arial, Helvetica, sans-serif;
    weight: 400;
  }
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

/* H STYLES*/

.fs-74 {
  font: {
    family: Graphik, Arial, Helvetica, sans-serif;
    size: 74px;
    weight: 700;
  }
  line-height: 84px;
}

.fs-48 {
  font: {
    size: 48px;
    weight: 400;
  }
  line-height: 55px;
  color: $darkgray;
}

.fs-28 {
  font: {
    size: 28px;
    weight: 400;
  }
  line-height: 40px;
}

.fs-20 {
  font: {
    family: Graphik, Arial, Helvetica, sans-serif;
    size: 20px;
    weight: 700;
  }
  line-height: 28px;
  letter-spacing: 0.1px;
  color: $darkgray;
}

.fs-16 {
  font: {
    size: 16px;
    weight: 400;
  }
  line-height: 25px;
}

p {
  font-size: 18px;
  weight: 400;
}

/* INPUT STYLES */

.input {
  background-color: $lightgray;
  color: $darkgray;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 20px;
  outline: none;
  font-size: 14px;
  width: 100%;

  &::placeholder {
    color: $darkgray;
  }
}

a {
  color: inherit;
  transition: color 0.5s;

  &:hover {
    color: $blue;
  }
}

.textarea {
  resize: none;
  border-radius: 0;
}

/* FONTS */

@font-face {
  font: {
    family: Graphik;
    weight: 400;
  }
  src: url(../fonts/Graphik-Regular.woff2);
}

@font-face {
  font: {
    family: Graphik;
    weight: 700;
  }
  src: url(../fonts/Graphik-Bold.woff2);
}

/* HEADINGS */

.heading {
  max-width: 520px;

  &--pos {
    &--center {
      margin: 0 auto;
      text-align: center;
    }

    &--left {
      text-align: center;

      @include media(desktop) {
        text-align: left;
      }
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__description {
    margin-bottom: 90px;

    &--d-inline--tablet {
      display: none;

      @include media(tablet) {
        display: inline;
      }
    }
  }

  &__subtitle {
    margin-bottom: 20px;
  }
}

// section main color

.primary--color {
  &--white {
    color: white;
  }
  &--gray {
    color: $gray;
  }
}
