//shared
@import "./shared/placeholders.scss";
@import "./shared/mixins.scss";
@import "./shared/colors.scss";
@import "./shared/buttons";

//
@import "common";
@import "normalize";

//sections
@import "./sections/header";
@import "./sections/features";
@import "./sections/partners";
@import "./sections/pricing";
@import "./sections/subscribe";
@import "./sections/testimonials";
@import "./sections/footer";
@import "./sections/contact-us";
@import "./sections/notebook";
