@import "common";
@import "normalize";

//shared
@import "./shared/buttons";
@import "./shared/video";

//sections
@import "./sections/header";
@import "./sections/features";
@import "./sections/partners";
@import "./sections/pricing";
@import "./sections/subscribe";
@import "./sections/testimonials";
@import "./sections/footer";
@import "./sections/contacts";
@import "./sections/notebook";
