.button {
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 35px;
  text-transform: capitalize;
  font-size: 20px;
  background-color: $blue;
  color: white;
  transition: box-shadow 1s;

  &--type--play {
    width: 61px;
    height: 61px;
    background: {
      color: $blue;
      image: url(../images/icons/play.svg);
      repeat: no-repeat;
      position: center;
      size: 12px;
    }
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media(tablet) {
      width: 187px;
      height: 187px;
      background-size: 39px;
    }
  }

  &:hover {
    box-shadow: none;
  }

  &--color--white {
    background-color: white;
    color: $blue;
  }

  &--font {
    &--bold {
      font: {
        family: Graphik;
        weight: 700;
      }
    }
  }

  &--pad {
    &--s {
      padding: 16px 45px;
    }
    &--m {
      padding: 16px 60px;
    }
    &--l {
      padding: 16px 75px;
    }
  }
}
