@mixin media($point) {
  @if $point == desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
}

@mixin svg-change-color-hover($main, $hover) {
  transition: fill 0.5s;
  fill: $main;
  &:hover {
    fill: $hover;
  }
}
