.button {
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 35px;
  padding: 16px 60px;
  text-transform: capitalize;

  &--type {
    &--play {
      width: 61px;
      height: 61px;
      background: {
        color: $blue;
        image: url(../images/icons/play.svg);
        repeat: no-repeat;
        position: center;
        size: 12px;
      }
      border-radius: 50%;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: $tablet) {
        width: 187px;
        height: 187px;
        background-size: 39px;
      }
    }
  }

  &:hover {
    box-shadow: none;
  }

  &--color {
    &--blue {
      background-color: $blue;
      color: white;
    }
    &--white {
      background-color: white;
      color: $blue;
    }
  }

  &--font {
    &--bold {
      font-family: Graphik-Bold;
    }
  }
}

.input--type--submit {
  @extend .button;
}
