%flex-between {
  display: flex;
  justify-content: space-between;
}

%flex-around {
  display: flex;
  justify-content: space-around;
}

%flex-center {
  display: flex;
  justify-content: center;
}

%column-align-center {
  flex-direction: column;
  align-items: center;
}

%column-reverse-align-center {
  flex-direction: column-reverse;
  align-items: center;
}
