.contact-us {
  margin-bottom: 100px;

  &__flexbox {
    @extend %flex-between;
    @extend %column-reverse-align-center;
    flex-wrap: wrap;
    gap: 80px;

    @include media(desktop) {
      flex-direction: row;
      gap: 0px;
    }
  }

  &__form {
    @extend %flex-center;
    flex-direction: column;
    height: 670px;
    gap: 45px;
    padding: 30px;
    box-shadow: 0px 13px 19px 0px #00000012;
    border: 1px solid #dddddd;
    border-radius: 20px;

    @include media(desktop) {
      padding: 50px;
    }

    &--pos {
      &--start {
        align-self: flex-start;
      }
      &--center {
        align-self: center;
      }
    }
  }

  &__info {
    @extend %flex-around;
    @extend %column-reverse-align-center;
    max-width: 725px;
    width: 100%;
    padding: 0 15px;
    gap: 60px;

    @include media(desktop) {
      flex-direction: column;
    }
  }

  &__socials {
    align-self: center;

    @include media(desktop) {
      align-self: flex-start;
    }
  }

  &__map {
    display: none;

    @include media(desktop) {
      display: block;
    }
  }
}

.contact-details {
  @extend %flex-between;
  width: initial;
  text-align: left;
  flex-direction: column;
  gap: 30px;

  @include media(desktop) {
    flex-direction: row;
    text-align: center;
    width: 100%;
    gap: 0px;
  }

  &__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 350px;
    gap: 20px;

    @include media(desktop) {
      flex-direction: column;
      justify-content: space-around;
      max-width: 300px;
    }
  }
}
