.features {
  margin-bottom: 190px;

  @include media(desktop) {
    margin-bottom: 350px;
  }

  &__flexbox {
    display: flex;
    @extend %column-reverse-align-center;
    gap: 80px;

    @include media(desktop) {
      flex-direction: column;
      gap: 130px;
    }
  }

  &__list {
    max-width: 870px;
    width: 100%;
    @extend %flex-center;
    align-items: flex-start;
    margin: 0 auto;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;

    @include media(desktop) {
      gap: 50px;
    }
  }

  &__card {
    max-width: 255px;
    display: flex;
    @extend %column-align-center;
  }

  &__img {
    margin-bottom: 27px;
    width: 45px;
    height: 45px;
  }

  &__title {
    max-width: 220px;
    margin-bottom: 20px;
  }

  &__description {
    max-width: 230px;
  }

  &__video {
    width: 1170px;
    height: 658px;
    filter: drop-shadow(0px 8.14769px 63.1446px rgba(0, 0, 0, 0.15));
    border-radius: 44.8123px;
  }
}
