.footer {
  background-color: $darkgray;
  padding: 150px 0;

  &__flexbox {
    @extend %flex-between;
    @extend %column-align-center;
    text-align: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 0;

    @include media(desktop) {
      padding: 0 120px;
      flex-direction: row;
      gap: 0px;
      text-align: left;
    }
  }

  &__links {
    max-width: 560px;
    width: 100%;
    @extend %flex-between;
    @extend %column-align-center;
    gap: 80px;

    @include media(desktop) {
      flex-direction: row;
      gap: 0px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__contacts {
    display: flex;
    align-self: unset;
    flex-direction: column;
    max-width: 290px;
    width: 100%;
    height: 165px;
    gap: 20px;

    @include media(desktop) {
      align-self: flex-start;
    }
  }

  &__contact-details {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  &__socials {
    margin-top: auto;
    align-self: center;

    @include media(desktop) {
      align-self: flex-start;
    }
  }
}
