.footer {
  background-color: $darkgray;
  padding: 150px 0;

  &__flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 80px;

    @media (min-width: $desktop) {
      flex-direction: row;
      text-align: left;
      gap: 0px;
    }
  }

  &__links {
    max-width: 560px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 80px;

    @media (min-width: $desktop) {
      flex-direction: row;
      gap: 0px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__contacts {
    align-self: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 290px;
    width: 100%;
    height: 165px;

    @media (min-width: $desktop) {
      align-self: flex-start;
    }
  }

  &__contact-details {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}
