.header {
  background: {
    image: url("../images/header-background.png");
    repeat: no-repeat;
    position: bottom;
    size: cover;
    color: white;
  }
  height: 930px;
  margin-bottom: 125px;

  &__logo {
    margin-right: 0;

    @media (min-width: $desktop) {
      margin-right: 250px;
    }
  }

  &__socials {
    display: none;

    @media (min-width: $desktop) {
      display: block;
    }
  }

  &__burger {
    display: block;

    @media (min-width: $desktop) {
      display: none;
    }
  }

  &__heading {
    margin: 0 auto;
    max-width: 680px;
    margin-top: 100px;
    text-align: center;
  }

  &__title {
    font-size: 48px;
    font-family: Graphik;
    font-weight: normal;

    @media (min-width: $tablet) {
      font-size: 74px;
      font-family: Graphik;
      font-weight: 700;
    }
  }
}

.nav-bar {
  padding: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation {
  max-width: 430px;
  width: 100%;
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.socials {
  max-width: 170px;
  width: 100%;
}
