.header {
  background: {
    image: url("../images/header-background.png");
    repeat: no-repeat;
    position: bottom;
    size: cover;
    color: white;
  }
  height: 930px;
  margin-bottom: 125px;

  &__socials {
    display: none;
    margin-left: auto;

    @include media(desktop) {
      display: block;
    }
  }

  &__burger {
    display: block;

    @include media(desktop) {
      display: none;
    }
  }

  &__heading {
    margin: 0 auto;
    max-width: 750px;
    margin-top: 90px;
    text-align: center;
    padding: 0 20px;

    @include media(tablet) {
      padding: 0;
    }
  }

  &__title {
    font: {
      size: 48px;
      family: Graphik;
      weight: 400;
    }
    line-height: 55px;

    @include media(tablet) {
      font: {
        size: 74px;
        weight: 700;
      }
      line-height: 84px;
    }
  }
}

.nav-bar {
  padding: 20px 0;
  @extend %flex-between;
  gap: 0;
  align-items: center;
  flex-wrap: wrap;

  @include media(tablet) {
    gap: 35px;
    padding: 54px;
  }
}

.navigation {
  max-width: 437px;
  width: 100%;
  display: none;
  padding: 0px 10px;

  @include media(desktop) {
    display: block;
  }
}

.socials {
  max-width: 170px;
  width: 100%;

  &__item--color {
    &--white {
      @include svg-change-color-hover(white, $blue);
    }

    &--blue {
      @include svg-change-color-hover($blue, $darkgray);
    }
  }
}
