.notebook {
  text-align: left;
  margin-bottom: 167px;

  @include media(desktop) {
    margin-bottom: 445px;
  }

  &__flexbox {
    @extend %flex-between;
    @extend %column-align-center;
    flex-wrap: wrap;
    gap: 60px;

    @include media(desktop) {
      flex-direction: row;
      gap: 0px;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }
}
