.partners {
  text-align: center;
  margin-bottom: 190px;

  &__list {
    @extend %flex-center;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 80px;
    gap: 30px;

    @include media(desktop) {
      gap: 0px;
    }
  }

  &__card {
    flex: initial;
    max-width: 273px;
    height: 165px;
    padding: 30px 40px;
    @extend %flex-between;
    @extend %column-align-center;
    border: 1px solid #d8d8d8;
    display: none;

    &:nth-child(-n + 3) {
      display: flex;
    }

    @include media(desktop) {
      max-width: none;
      display: flex;
      flex: 1 1 auto;
    }
  }
}
