.partners {
  text-align: center;
  margin-bottom: 190px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 80px;
    gap: 30px;

    @media (min-width: $desktop) {
      justify-content: space-between;
      gap: 0px;
    }
  }

  &__card {
    flex: initial;
    max-width: 273px;
    height: 165px;
    padding: 30px 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d8d8d8;
    display: none;

    &:nth-child(-n + 3) {
      display: flex;
    }

    @media (min-width: $desktop) {
      max-width: none;
      display: flex;
      flex: 1 1 auto;
    }
  }
}
