.pricing {
  padding: 100px;
  background-color: $darkgray;
  margin-bottom: 210px;

  &__title {
    color: white;
  }

  &__list {
    @extend %flex-between;
    @extend %column-align-center;
    gap: 50px;

    @include media(desktop) {
      flex-direction: row;
      gap: 0;
    }
  }

  &__card {
    max-width: 335px;
    width: 100%;
    text-align: center;
    @extend %flex-around;
    @extend %column-align-center;
    border-radius: 10px;

    &--offer {
      &--best {
        height: 600px;
        padding: 85px 0;
        background-color: $blue;
        color: white;

        @include media(desktop) {
          height: 690px;
        }
      }

      &--normal {
        height: 600px;
        padding: 40px 0;
        background-color: white;
        color: $darkgray;
      }
    }
  }

  &__price {
    display: flex;
    gap: 10px;
  }

  &__info {
    @extend %flex-center;
    flex-direction: column;
    text-align: left;
    gap: 5px;
  }

  &__features {
    @extend %flex-center;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
  }
}
