.subscribe {
  margin-bottom: 180px;

  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__heading--ver {
    &--mob {
      display: block;
    }
    &--desk {
      display: none;
    }
    @media (min-width: $desktop) {
      &--mob {
        display: none;
      }
      &--desk {
        display: block;
      }
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 69px;

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 460px;
    text-align: center;
    gap: 35px;
  }
}

.subscribe-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;

  &__email {
    width: 100%;
    padding: 20px 40px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}
