.subscribe {
  margin-bottom: 180px;

  &__flexbox {
    @extend %flex-between;
    @extend %column-align-center;

    @include media(desktop) {
      flex-direction: row;
    }
  }

  &__heading--ver {
    &--mob {
      display: block;
    }
    &--desk {
      display: none;
    }
    @include media(desktop) {
      &--mob {
        display: none;
      }
      &--desk {
        display: block;
      }
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 69px;

    @include media(desktop) {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    text-align: center;
    gap: 35px;
  }
}

.subscribe-form {
  width: 100%;
  @extend %flex-around;
  flex-direction: column;
  gap: 12px;

  &__email {
    width: 100%;
    padding: 20px 40px;
  }

  @include media(desktop) {
    flex-direction: row;
  }
}
