.subscribe {
  text-align: left;
  margin-bottom: 180px;

  &__flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__heading--ver {
    &--mob {
      display: block;
    }
    &--desk {
      display: none;
    }
    @media (min-width: $desktop) {
      &--mob {
        display: none;
      }
      &--desk {
        display: block;
      }
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 69px;

    @media (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 460px;
    text-align: center;
  }
}

.subscribe-form {
  max-width: none;
  width: 100%;
  padding: 34px 0;

  &__email {
    max-width: none;
    width: 100%;
    margin-bottom: 12px;
  }

  &__button {
    max-width: none;
    width: 100%;
    padding: 16px 0;
  }

  @media (min-width: $desktop) {
    max-width: 457px;

    &__email {
      max-width: 260px;
      margin-bottom: 0px;
    }

    &__button {
      max-width: 172px;
    }
  }
}
