.testimonials {
  text-align: center;
  margin-bottom: 100px;

  &__content {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  &__client {
    max-width: 190px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__heading--ver {
    &--desk {
      display: none;
    }

    &--mob {
      max-width: 300px;
      font-size: 14px;
      line-height: 17px;
      display: block;
      color: $gray;
    }

    @media (min-width: $tablet) {
      &--desk {
        display: block;
      }

      &--mob {
        display: none;
      }
    }
  }
}
