.features {
  margin-bottom: 190px;

  @media (min-width: $desktop) {
    margin-bottom: 350px;
  }

  &__flexbox {
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;

    @media (min-width: $desktop) {
      flex-direction: column;
      gap: 130px;
    }
  }

  &__list {
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: $darkgray;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
    gap: 0px;
  }

  &__card {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 27px;
  }

  &__title {
    max-width: 200px;
    margin-bottom: 20px;
  }

  &__description {
    max-width: 230px;
  }
}

.notebook {
  text-align: left;
  margin-bottom: 167px;

  @media (min-width: $desktop) {
    margin-bottom: 445px;
  }

  &__flexbox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;

    @media (min-width: $desktop) {
      gap: 0px;
      flex-direction: row;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
  }
}
