.contact-us {
	margin-bottom: 100px;
}

.contact-us__flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	gap: 80px;
}

@media (min-width: 1200px) {
	.contact-us__flexbox {
		flex-direction: row;
		gap: 0px;
	}
}

.contact-us__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 670px;
	gap: 45px;
	padding: 50px;
	box-shadow: 0px 13px 19px 0px #00000012;
	border: 1px solid #dddddd;
	border-radius: 20px;
}

.contact-us__form > input[type="submit"] {
	align-self: flex-start;
}

.contact-us__form > h5 {
	align-self: center;
}

.contact-us__info {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	align-items: center;
	max-width: 725px;
	width: 100%;
	padding: 0 15px;
	gap: 90px;
}

@media (min-width: 1200px) {
	.contact-us__info {
		flex-direction: column;
	}
}

.contact-us__info__details {
	display: flex;
	justify-content: space-between;
	width: initial;
	text-align: left;
	flex-direction: column;
	gap: 30px;
}

@media (min-width: 1200px) {
	.contact-us__info__details {
		justify-content: space-between;
		flex-direction: row;
		text-align: center;
		width: 100%;
		gap: 0px;
	}
}

.contact-us__info__details__card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	max-width: 350px;
	gap: 20px;
}

@media (min-width: 1200px) {
	.contact-us__info__details__card {
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		gap: 0px;
		max-width: 300px;
	}
}

.contact-us__info > .socials {
	align-self: unset;
}

@media (min-width: 1200px) {
	.contact-us__info > .socials {
		align-self: flex-start;
	}
}

.contact-us__info__img {
	max-width: 100%;
	height: auto;
	display: none;
}

@media (min-width: 1200px) {
	.contact-us__info__img {
		display: block;
	}
}
