.footer {
	background-color: var(--darkbackground);
	padding: 150px 0;
	color: white;
}

@media (min-width: 1200px) {
	.footer__flexbox {
		flex-direction: row;
	}
}

.footer__flexbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 80px;
}

@media (min-width: 1200px) {
	.footer__flexbox {
		flex-direction: row;
		text-align: left;
		gap: 0px;
	}
}

.footer__links {
	max-width: 560px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 80px;
}

@media (min-width: 1200px) {
	.footer__links {
		flex-direction: row;
		gap: 0px;
	}
}

.footer__links__box {
	height: 260px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__links__box > h5 {
	color: white;
}

.footer__links__box__list {
	display: flex;
	flex-direction: column;
	gap: 26px;
	font-size: 15px;
}

.footer__contacts {
	align-self: unset;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 290px;
	width: 100%;
	height: 190px;
}

@media (min-width: 1200px) {
	.footer__contacts {
		align-self: flex-start;
	}
}

.footer__contacts__card {
	display: flex;
	gap: 15px;
	align-items: center;
}

.footer__contacts > .socials {
	align-self: center;
}

@media (min-width: 1200px) {
	.footer__contacts > .socials {
		align-self: flex-start;
	}
}
