/* colors */

.header {
	background-image: url('images/header-background.png');
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto;
	background-color: white;
	color: white;
	height: 1000px;
}

.nav-bar {
	padding: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.nav {
	max-width: 430px;
	width: 100%;
	display: none;
}

.header__socials {
	display: none;
}

.header__burger {
	display: block;
}

@media (min-width: 1200px) {
	.nav {
		display: block;
	}

	.header__socials {
		display: block;
	}

	.header__burger {
		display: none;
	}
}

.socials {
	max-width: 170px;
	width: 100%;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	margin-right: 0;
}

@media (min-width: 1200px) {
	.logo {
		margin-right: 250px;
	}
}

.header__contents {
	margin: 0 auto;
	max-width: 680px;
	margin-top: 100px;
	text-align: center;
}

.header__contents__title {
	margin-bottom: 25px;
	font-size: 48px;
	font-family: Graphik;
	font-weight: normal;
}

@media (min-width: 768px) {
	.header__contents__title {
		font-size: 74px;
		font-family: Graphik-Bold;
	}
}

.button_blue {
	background-color: var(--blue);
	border-radius: 35px;
	color: white;
	text-transform: capitalize;
	padding: 16px 60px;
}

.button_bold {
	font-family: Graphik-Bold;
}

.button_white {
	background-color: white;
	border-radius: 35px;
	color: var(--blue);
	padding: 16px 60px;
}
