.partners {
	text-align: center;
	color: var(--gray);
	margin-bottom: 190px;
}

.partners__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin-bottom: 80px;
	gap: 30px;
}

@media (min-width: 1200px) {
	.partners__list {
		justify-content: space-between;
		gap: 0px;
	}
}

.partners__list__card {
	flex: initial;
	max-width: 273px;
	height: 165px;
	padding: 30px 40px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #d8d8d8;
	display: none;
}

.partners__list__card:nth-child(-n + 3) {
	display: flex;
}

@media (min-width: 1200px) {
	.partners__list__card {
		max-width: none;
		display: flex;
		flex: 1 1 auto;
	}
}
