.pricing {
	padding: 70px;
	background-color: var(--darkbackground);
	color: white;
	margin-bottom: 210px;
}

.pricing__title {
	color: white;
}

.pricing__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 50px;
}

@media (min-width: 1200px) {
	.pricing__list {
		flex-direction: row;
		gap: 0;
	}
}

.pricing__list__item {
	max-width: 335px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 10px;
}

.pricing__list__item_best {
	height: 600px;
	padding: 85px 0;
	background-color: var(--blue);
	color: white;
}

@media (min-width: 1200px) {
	.pricing__list__item_best {
		height: 690px;
	}
}

.pricing__list__item_normal {
	height: 600px;
	padding: 40px 0;
	background-color: white;
	color: var(--gray);
}

.pricing__list__item__price {
	display: flex;
	gap: 10px;
}

.pricing__list__item__price__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	gap: 5px;
}

.pricing__list__item__features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	font-size: 15px;
}
