.subscribe {
	text-align: left;
	margin-bottom: 180px;
	color: var(--gray);
}

.subscribe__flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

@media (min-width: 1200px) {
	.subscribe__flexbox {
		flex-direction: row;
	}
}

.subscribe__heading {
	display: block;
}

@media (min-width: 1200px) {
	.subscribe__heading {
		display: none;
	}
}

.subscribe__img {
	max-width: 100%;
	height: auto;
	margin-bottom: 69px;
}

@media (min-width: 1200px) {
	.subscribe__img {
		margin-bottom: 0;
	}
}

.subscribe__info {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	max-width: 460px;
	text-align: center;
}

.subscribe__info > .heading {
	display: none;
}

@media (min-width: 1200px) {
	.subscribe__info > .heading {
		display: block;
	}
}

.subscribe__form {
	max-width: none;
	width: 100%;
	padding: 34px 0;
}

.subscribe__form__email {
	max-width: none;
	width: 100%;
	margin-bottom: 12px;
}

.subscribe__form__button {
	max-width: none;
	width: 100%;
	padding: 16px 0;
}

@media (min-width: 1200px) {
	.subscribe__form {
		max-width: 457px;
	}

	.subscribe__form__email {
		max-width: 260px;
		margin-bottom: 0px;
	}

	.subscribe__form__button {
		max-width: 172px;
	}
}
